.card-container {
    perspective: 1000px;
    justify-content: center;
    gap:10px;
    display: grid;
    grid-template-columns: [f] auto [s] auto [t] auto [fo] auto [fi] auto [six] auto [end];
    grid-template-rows: [first] auto [second] auto [third] auto [fourth] auto [fifth] auto [end];
  }

@font-face {
  font-family: myFont;
  src: url(./IndieFlower-Regular.ttf);
}
.card {
  width: 173px;
  height: 102px;
  position: relative;
  transform-style: preserve-3d;
  transition: transform 0.5s;
}

.card.flipped {
  transform: rotateY(180deg);
}

.card-face {
  width: 100%;
  height: 100%;
  position: absolute;
  backface-visibility: hidden;
}

.card-front {
  justify-items: center;
  background-color: #D6B899;
  color: black;
  z-index: 2;
  border: black;
  border-radius: 5px;
}

.card-back {
  background-color: #B6BAC1;
  color: white;
  transform: rotateY(180deg);
  border-radius: 5px;
}
.paused {
  pointer-events: none;
  }
div > h1 {
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  justify-items: center;
}
html {
  background-color: black;
}